/* header,footer */

header {
  z-index: 124;
  background-color: #000;
  box-shadow: 0 2px 8px rgba(30, 30, 80, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 3%;
  width: 94%;

  >.ttl {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    @media screen and (max-width: 896px) {
      font-size: 24px;
    }
  }
  .link #icon {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    img {
      object-fit: cover;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
    }
    &.clicked .icon-menu {
      max-height: 300px;
    }
    .icon-menu {
      transition: .3s;
      overflow: hidden;
      position: fixed;
      top: 68px;
      right: 20px;
      max-height: 0;
      a {
        background-color: black;
        cursor: pointer;
        display: block;
        padding: 20px;
        border-top: 1px solid #7c7c7c;
        &:hover {
          background-color: #333;
        }
        &:first-child {
          border-top: none;
          border-radius: 10px 10px 0 0;
        }
        &:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
      &:before {
        display: block;
        content: "";
        margin-left: calc(100% - 44px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent black transparent;
      }
    }
  }
  .link span {
    margin: 0 15px;
  }
  .link,.link a {
    color: white;
    text-decoration: none;
  }
}

.footer {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 15px 0;
  background: #333333;
  text-align: right;
  .footer_copyright {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    margin:0 3%;
    color: #fff;
  }
}
