/* sports */

.sports section {

  &:before,
  &:after {
    display: none;
  }
}

.key-visual {
  color: white;
  padding: 50px 3% 50px 3%;
  margin-top: 62px;
  background-image: url(../img/corfball/key.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 94%;

  >.name {
    line-height: 2;
    font-size: 2.5rem;
  }

  >.desc {
    line-height: 1.5;
    font-size: 1rem;
  }

  &:before,
  &:after {
    display: none;
  }
}

.newsbox {

  margin: auto;
  width: 94%;
}

.sports .player-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 30px 0;
  width: 100%;

  >.player-box {
    width: calc((100% / 5) - 40px);
    margin: 20px 20px;

    img {
      width: 125px;
    }
  }

  @media screen and (max-width: 896px) {
    >.player-box {
      width: calc((100% / 4) - 40px);
      margin: 10px 20px;
    }
  }

  @media screen and (max-width: 700px) {
    >.player-box {
      width: calc((100% / 3) - 40px);
      margin: 10px 20px;

      img {
        width: 100px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    >.player-box {
      width: calc((100% / 2) - 40px);
    }
  }
}
