/* sports */

.sports section {

  &:before,
  &:after {
    display: none;
  }
}

.key-visual {
  color: white;
  padding: 50px calc(50vw - 448px);
  margin-top: 62px;
  background-image: url(../img/corfball/key.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 896px;

  >.name {
    line-height: 2;
    font-size: 2.5rem;
  }

  >.desc {
    line-height: 1.5;
    font-size: 1rem;
  }

  &:before,
  &:after {
    display: none;
  }
  @media screen and (max-width: 896px) {
    width: 480px;
    padding: 50px calc(50vw - 240px);
  }
  @media screen and (max-width: 480px) {
    width: 280px;
    padding: 50px calc(50vw - 140px);
  }
}

.newsbox {
  margin: auto;
  width: 896px;
  h3 {
    margin-left: 20px;
  }
  @media screen and (max-width: 896px) {
    width: 480px;
  }
  @media screen and (max-width: 480px) {
    width: 280px;
  }
}

.sports .player-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
