.swiper-container {
  padding-bottom: 20px !important;
  width: 100%;
  height: auto;

  .swiper-slide {
    img {
      width: 100%;
    }

    p {
      width: 100%;
      text-align: center;
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: -20px !important;
  }
}
