html,
* {
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

$secondary: #F8F9FF;

@import "layout";
@import "headline";
@import "top";
@import "sports";
@import "swiper";
@import "player";
@import "form";
@import "notfound";

